.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0px;
}

.wrapperGrid {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  @media only screen and (max-width: 995px) {
    justify-content: center;
    align-items: center;
  }
}