@import 'react-loading-skeleton/dist/skeleton.css';
$fontsFolderPath: '~@squidit/css/dist/fonts';
@import '~@squidit/css/src/scss/squid.scss';

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
}
